# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/venv
/.vscode
/static
*.log
*.pot
*.pyc
__pycache__


bot-auth-settings.json
./chats/bot-auth-settings.json
*.sqlite3
*.db

.env