<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <script>window.BASE_API_URL = "https://mlteach.kz";</script>
    <base data-lang_mode="1"/>
    <script type="module" crossorigin src="/static/index-1d415fa0.js"></script>
    <link rel="stylesheet" href="/static/index-e9951437.css">
  </head>
  <body class="min-h-screen">
    <div id="root" class="flex flex-col min-h-screen"></div>
    
  </body>
</html>
