{% extends 'layouts/base.html' %}

{% block title %}
Storage
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">{{ _('Dashboard') }}</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                    <a href="javascript:">{{ _('Welcome') }}</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                            <h5 class="card-title mb-0">Files and folders</h5>
                            <div class="my-3">
                                {% crispy form %}
                            </div>
                            </div>
                        </div>
                        <h1 class="h4 mb-3"><strong>Media:</strong> {{ current_path }}</h1>
                        <table class="table table-hover my-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Size</th>
                                    <th>Path</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in media_list %}
                                    <tr>
                                        <td>
                                            {% if item.type == 'Folder' %}
                                                <a href="{% url 'dashboard:storage' %}?path={{ item.path }}">{{ item.name }}</a>
                                            {% else %}
                                                {{ item.name }}
                                            {% endif %}
                                        </td>
                                        <td>{{ item.type }}</td>
                                        <td>{{ item.size|filesizeformat }}</td>
                                        <td>{{ item.path }}</td>
                                        <td>
                                            {% if item.type == 'File' %}
                                                <form method="post" action="{% url 'dashboard:storage_delete' %}?path={{ item.path }}">
                                                    {% csrf_token %}
                                                    <button type="submit"class="btn btn-danger">Delete</button>
                                                </form>
                                            {% else %}
                                                <form method="post" action="{% url 'dashboard:storage_delete' %}?path={{ item.path }}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}

{% endblock %}
